

.close-offcanvas {
    text-align: right;
    font-size: 24px;
    margin-right: -20px;
    margin-top: -20px
}

.close-offcanvas a {
    display: inline-block;
    padding: 20px;
    color: rgba(0, 0, 0, .3)
}

.close-offcanvas a:hover {
    color: #000
}

.close-offcanvas a>span {
    display: none
}

.off-canvas__overlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 20;
    display: none
}

.move-left a.off-canvas__overlay {
    display: block
}

.off-canvas-area {
    padding: 20px;
    font-size: 14px
}

nav.tab-bar,
.left-off-canvas-menu,
.left-off-canvas-menu *,
.right-off-canvas-menu,
.move-right a.exit-off-canvas,
.move-left a.exit-off-canvas {
    -webkit-backface-visibility: hidden
}

.off-canvas-wrap,
.inner-wrap {
    position: relative;
    width: 100%
}

.left-off-canvas-menu,
.right-off-canvas-menu {
    width: 260px;
    top: 0;
    bottom: 0;
    height: 100%;
    position: absolute;
    overflow-y: auto;
    background: #fafafa;
    z-index: 1001;
    box-shadow: 2px 0 10px 0 rgba(0, 0, 0, .2) inset
}

section.left-small,
section.right-small {
    width: 2.8125rem;
    height: 2.8125rem;
    position: absolute;
    top: 0
}

.off-canvas-wrap {
    overflow: hidden
}

.inner-wrap {
    *zoom: 1;
    -webkit-transition: -webkit-transform .5s ease;
    -moz-transition: -moz-transform .5s ease;
    -ms-transition: -ms-transform .5s ease;
    -o-transition: -o-transform .5s ease;
    transition: transform .5s ease
}

.inner-wrap:before,
.inner-wrap:after {
    content: " ";
    display: table
}

.inner-wrap:after {
    clear: both
}

nav.tab-bar {
    background: #333;
    color: #fff;
    height: 2.8125rem;
    line-height: 2.8125rem;
    position: relative
}

nav.tab-bar h1,
nav.tab-bar h2,
nav.tab-bar h3,
nav.tab-bar h4,
nav.tab-bar h5,
nav.tab-bar h6 {
    color: #fff;
    font-weight: 700;
    line-height: 2.8125rem;
    margin: 0
}

nav.tab-bar h1,
nav.tab-bar h2,
nav.tab-bar h3,
nav.tab-bar h4 {
    font-size: 1.125rem
}

section.left-small {
    border-right: solid 1px #1a1a1a;
    box-shadow: 1px 0 0 #4d4d4d;
    left: 0
}

section.right-small {
    border-left: solid 1px #4d4d4d;
    box-shadow: -1px 0 0 #1a1a1a;
    right: 0
}

section.tab-bar-section {
    padding: 0 .625rem;
    position: absolute;
    text-align: center;
    height: 2.8125rem;
    top: 0
}

@media only screen and (min-width:40.063em) {
    section.tab-bar-section {
        text-align: left
    }
}

section.tab-bar-section.left {
    left: 0;
    right: 2.8125rem
}

section.tab-bar-section.right {
    left: 2.8125rem;
    right: 0
}

section.tab-bar-section.middle {
    left: 2.8125rem;
    right: 2.8125rem
}

a.menu-icon {
    display: inline-block;
    float: right;
    height: 100%;
    padding: 0 40px 0 0;
    position: absolute;
    right: 0;
    text-align: right;
    width: 30%
}

a.menu-icon:before,
a.menu-icon span {
    display: inline-block;
    vertical-align: middle
}

a.menu-icon:before {
    content: "";
    height: 100%
}

a.menu-icon span {
    width: 1.25rem;
    height: 0;
    margin-top: -30px;
    -webkit-box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
    box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff
}

.left-off-canvas-menu {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
}

.right-off-canvas-menu {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    right: 0
}

ul.off-canvas-list {
    list-style-type: none;
    padding: 0;
    margin: 0
}

ul.off-canvas-list li label {
    padding: .3rem .9375rem;
    color: #999;
    text-transform: uppercase;
    font-weight: 700;
    background: #444;
    border-top: 1px solid #5e5e5e;
    border-bottom: none;
    margin: 0
}

ul.off-canvas-list li a {
    display: block;
    padding: .66667rem;
    color: rgba(255, 255, 255, .7);
    border-bottom: 1px solid #262626
}

.move-right>.inner-wrap {
    -webkit-transform: translate3d(260px, 0, 0);
    -moz-transform: translate3d(260px, 0, 0);
    -ms-transform: translate3d(260px, 0, 0);
    -o-transform: translate3d(260px, 0, 0);
    transform: translate3d(260px, 0, 0)
}

.move-left>.inner-wrap {
    -webkit-transform: translate3d(-260px, 0, 0);
    -moz-transform: translate3d(-260px, 0, 0);
    -ms-transform: translate3d(-260px, 0, 0);
    -o-transform: translate3d(-260px, 0, 0);
    transform: translate3d(-260px, 0, 0)
}

.lt-ie10 .left-off-canvas-menu {
    left: -260px
}

.lt-ie10 .right-off-canvas-menu {
    right: -260px
}

.lt-ie10 .move-left>.inner-wrap {
    right: 260px
}

.lt-ie10 .move-right>.inner-wrap {
    left: 260px
}

.input_tiny {
    width: 50px
}

.input_small {
    width: 100px
}

.input_medium {
    width: 150px
}

.input_large {
    width: 200px
}

.input_xlarge {
    width: 250px
}

.input_xxlarge {
    width: 300px
}

input[type=search]::-webkit-search-decoration {
    display: none
}

#global-container input:invalid,
#global-container button:invalid,
#global-container a.button:invalid,
#global-container select:invalid,
#global-container textarea:invalid {
    box-shadow: none
}

#global-container input:focus,
#global-container button:focus,
#global-container a.button:focus,
#global-container select:focus,
#global-container textarea:focus {
    border-color: rgba(0, 99, 255, .67);
    z-index: 1
}

input[type=file]:focus,
input[type=file]:active,
input[type=radio]:focus,
input[type=radio]:active,
input[type=checkbox]:focus,
input[type=checkbox]:active {
    box-shadow: none
}

button,
a.button,
input[type=reset],
input[type=submit],
input[type=button] {
    -webkit-appearance: none;
    border-radius: 4px;
    background-clip: padding-box;
    background: #ebebeb;
    border: none;
    cursor: pointer;
    color: #333;
    display: inline-block;
    outline: 0;
    overflow: visible;
    margin: 0;
    padding: 6px 14px 8px;
    text-decoration: none;
    vertical-align: top;
    min-height: 2.4em;
    width: auto;
    font: inherit;
    font-weight: 400;
    line-height: 1;
    background: #ddd
}

button:hover,
a.button:hover,
input[type=reset]:hover,
input[type=submit]:hover,
input[type=button]:hover {
    background-color: #ebebeb;
    text-decoration: none
}

button:active,
a.button:active,
input[type=reset]:active,
input[type=submit]:active,
input[type=button]:active {
    background-color: #ddd;
    box-shadow: inset rgba(0, 0, 0, .25) 0 1px 2px 0
}

button::-moz-focus-inner,
a.button::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=button]::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea,
select,
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: padding-box;
    border-radius: 3px;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid;
    border-color: #dcdddd;
    color: #000;
    outline: 0;
    margin: 0;
    padding: 6px 10px;
    text-align: left;
    font-size: inherit;
    height: 2.4em;
    vertical-align: middle;
    font-family: inherit
}

textarea[disabled],
select[disabled],
input[type=date][disabled],
input[type=datetime][disabled],
input[type=datetime-local][disabled],
input[type=email][disabled],
input[type=month][disabled],
input[type=number][disabled],
input[type=password][disabled],
input[type=search][disabled],
input[type=tel][disabled],
input[type=text][disabled],
input[type=time][disabled],
input[type=url][disabled],
input[type=week][disabled] {
    background-color: #eee
}

.form-skin-dark textarea,
.form-skin-dark select,
.form-skin-dark input[type=date],
.form-skin-dark input[type=datetime],
.form-skin-dark input[type=datetime-local],
.form-skin-dark input[type=email],
.form-skin-dark input[type=month],
.form-skin-dark input[type=number],
.form-skin-dark input[type=password],
.form-skin-dark input[type=search],
.form-skin-dark input[type=tel],
.form-skin-dark input[type=text],
.form-skin-dark input[type=time],
.form-skin-dark input[type=url],
.form-skin-dark input[type=week] {
    background-color: rgba(0, 0, 0, .15);
    color: #fff;
    border-color: rgba(0, 0, 0, .38) rgba(0, 0, 0, .21) rgba(0, 0, 0, .07)
}

.form-skin-dark input::-webkit-input-placeholder,
.form-skin-dark textarea::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .3)
}

.form-skin-dark input:-moz-placeholder,
.form-skin-dark textarea:-moz-placeholder {
    color: rgba(255, 255, 255, .3)
}

.form-skin-dark input.placeholder_text,
.form-skin-dark textarea.placeholder_text {
    color: rgba(255, 255, 255, .3)
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
    box-shadow: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    color: #888;
    cursor: default
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #d5d2d2
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #d5d2d2
}

input.placeholder_text,
textarea.placeholder_text {
    color: #d5d2d2
}

textarea,
select[size],
select[multiple] {
    height: auto
}

select[size="0"],
select[size="1"] {
    height: 1.8em
}

select {
    max-width: 100%
}

@media (-webkit-min-device-pixel-ratio:0) {
    select[size],
    select[multiple],
    select[multiple][size] {
        background-image: none;
        padding-right: 3px
    }
    select,
    select[size="0"],
    select[size="1"] {
        background-image: url(assets/wp-content/themes/seowp/./images/select_arrow.png);
        background-repeat: no-repeat;
        background-position: right center;
        padding-right: 36px !important
    }
    ::-webkit-validation-bubble-message {
        -webkit-box-shadow: none;
        box-shadow: none;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, #000));
        border: 0;
        color: #fff;
        font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
        overflow: hidden;
        padding: 15px 15px 17px;
        text-shadow: #000 0 0 1px;
        min-height: 16px
    }
    ::-webkit-validation-bubble-arrow,
    ::-webkit-validation-bubble-top-outer-arrow,
    ::-webkit-validation-bubble-top-inner-arrow {
        -webkit-box-shadow: none;
        box-shadow: none;
        background: #666;
        border-color: #666
    }
}

textarea {
    min-height: 40px;
    overflow: auto;
    resize: vertical;
    width: 100%
}

optgroup {
    color: #000;
    
    font-weight: 400;
   
}

optgroup::-moz-focus-inner {
    border: 0;
    padding: 0
}


/*! lbmn: Custom Media Queries */

.show-for-retina {
    display: none
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi) {
    .show-for-retina {
        display: inline-block
    }
    .hide-for-retina {
        display: none
    }
}


body.dslca-enabled.dslc-res-phone #mega_main_menu.topbar {
    display: none
}

body.dslca-enabled.dslc-res-phone #mega_main_menu.header-menu .mega_main_menu_ul {
    display: none
}

@media print {
    @page {
        margin: .5cm
    }
    .notification-panel,
    .topbar,
    .site-header,
    .calltoaction-area,
    .site-footer,
    .master-slider {
        display: none !important
    }
    img {
        max-width: 500px
    }
}

.dslc-modules-section-wrapper,
.dslca-add-modules-section {
    width: 1200px
}

[class^=dslc-icon-ext-],
[class*=" dslc-icon-ext-"] {
    font-family: 'iconfont'
}

body:not(.dslc-res-phone) .first-column-last .dslc-first-col {
    float: right
}

body:not(.dslc-res-phone) .last-column-first .dslc-first-col {
    float: left
}

#dslc-content .mce-toolbar .mce-btn i {
    font-style: normal
}

#dslc-content .mce-container button,
#dslc-content .wp-editor-tabs button {
    box-shadow: none;
    border-radius: 0
}

#dslc-content .mce-container button:hover {
    background: 0 0
}

.no-menu-set {
    float: right;
    margin-top: 6px;
    font-size: 14px;
    opacity: .5
}

.site-footer-inner .no-menu-set {
    color: #9f9f9f;
    margin-top: 35px
}

body #mega_main_menu li.default_dropdown>.mega_dropdown>li.drop_to_right>.item_link:before {
    content: '' !important
}

@media only screen and (max-width:480px) {
    #dslc-content.dslc-blog-post-main {
        z-index: 99999;
        position: relative
    }
    #global-container #dslc-content .blog-balanced-thumbnail .dslc-module-DSLC_Blog .dslc-post-thumb {
        margin-bottom: 0;
        padding-bottom: 0;
        width: 100%
    }
}

form.post-password-form {
    margin: 0 auto;
    width: 800px
}

form.post-password-form p {
    color: #3d3d3d;
    font-size: 18px;

    line-height: 23px
}

form.post-password-form p label {
    font-size: 16px;

    margin-right: 0;
    margin-bottom: 5px
}

form.post-password-form p input[type=password] {
    display: block;
    margin-bottom: 15px
}

form.post-password-form p input[type=submit] {
    background-color: #5aade1;
    color: #fff;
    border-radius: 4px;
    font-size: 18px;

    line-height: 21px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px
}

#disqus_thread {
    display: none
}

.dslc-modules-area #disqus_thread {
    display: block !important
}

#mega_main_menu.header-menu>.menu_holder>.menu_inner>ul>li.nav_search_box i:before,
#mega_main_menu.header-menu>.menu_holder>.menu_inner>ul>li>.item_link>i:before {
    font-family: 'iconfont'
}

.dslc-tp-content ul:not(.essb_links_list) li {
    padding: 10px 0 10px 10px;
    text-indent: -1em
}

.site-header.mega_main_menu-disabled {
    background-color: rgba(255, 255, 255, .3);
    border-bottom: 1px solid #eee;
    min-height: 120px;
    padding-top: 40px
}

.site-header.mega_main_menu-disabled .default-header-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px
}

.nomegamenu-logo {
    display: inline-block;
    margin-top: -12px
}

.nomegamenu-logo a {
    display: block
}

.site-header.mega_main_menu-disabled .header-top-menu {
    float: right;
    margin-top: 6px
}

.site-header.mega_main_menu-disabled .header-top-menu>ul>li {
    display: inline-block
}

.site-header.mega_main_menu-disabled .header-top-menu>ul>li .sub-menu {
    display: none
}

.site-header.mega_main_menu-disabled .header-top-menu>ul li {
    position: relative
}

.site-header.mega_main_menu-disabled .header-top-menu>ul li:hover>.sub-menu {
    display: block;
    position: absolute;
    z-index: 2;
    background-color: #f7f7f7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    min-width: 200px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .8), 0px 2px 1px rgba(0, 0, 0, .15), 3px 5px 10px rgba(0, 0, 0, .19)
}

.site-header.mega_main_menu-disabled .header-top-menu>ul li:hover>.sub-menu li:hover>.sub-menu {
    top: 0;
    left: 98%
}

.site-header.mega_main_menu-disabled .header-top-menu>ul li:hover>.sub-menu>li {
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-color: #ededed;
    border-width: 1px
}

.site-header.mega_main_menu-disabled .header-top-menu>ul li:hover>.sub-menu>li:hover {
    background-color: #56aee3
}

.site-header.mega_main_menu-disabled .header-top-menu>ul>li li a {
    color: #909497;
    font-size: 15px;
    line-height: 21px;

    text-transform: none
}

.site-header.mega_main_menu-disabled .header-top-menu>ul>li li:hover>a {
    color: #fff
}

.site-header.mega_main_menu-disabled .header-top-menu>ul>li>a {
    padding-left: 16px;
    padding-right: 16px;
    color: rgba(0, 0, 0, .91)
}

.site-header.mega_main_menu-disabled .header-top-menu>ul>li>a:hover {
    color: #56aee3
}

html.content-loaded .global-wrapper:before,
html.content-loaded .global-wrapper:after {
    opacity: 0;
    z-index: 0;
    color: rgba(0, 0, 0, 0);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

#dslc-module-74055eaf658 .dslc-text-module-content {
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    background-size: auto
}

#dslc-module-74055eaf658 .dslc-text-module-content,
#dslc-module-74055eaf658 .dslc-text-module-content .dslca-editable-content,
#dslc-module-74055eaf658 .dslc-text-module-content p {
    
    text-align: left
}

#dslc-module-74055eaf658 .dslc-text-module-content p {
    padding-right: 0;
    padding-bottom: 30px;
    margin-top: 10px;

}

#dslc-module-74055eaf658 .dslc-text-module-content h1 {
    
    text-align: left
}

#dslc-module-74055eaf658 .dslc-text-module-content h2 {
    
    text-align: left
}

#dslc-module-74055eaf658 .dslc-text-module-content h3 {  
    text-align: left
}

#dslc-module-74055eaf658 .dslc-text-module-content h4 {  
    text-align: left
}

#dslc-module-74055eaf658 .dslc-text-module-content h5 {   
    text-align: left
}

#dslc-module-74055eaf658 .dslc-text-module-content h6 {  
    text-align: left
}

#dslc-module-74055eaf658 .dslc-text-module-content ul {
    list-style-type: disc;
    text-align: left
}

#dslc-module-74055eaf658 .dslc-text-module-content ol {
    list-style-type: decimal
}

#dslc-module-74055eaf658 input[type=text],
#dslc-module-74055eaf658 input[type=password],
#dslc-module-74055eaf658 input[type=number],
#dslc-module-74055eaf658 input[type=email],
#dslc-module-74055eaf658 input[type=tel],
#dslc-module-74055eaf658 textarea,
#dslc-module-74055eaf658 select {
    color: #fff;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid
}

#dslc-module-74055eaf658 input[type=text]::placeholder,
#dslc-module-74055eaf658 input[type=password]::placeholder,
#dslc-module-74055eaf658 input[type=number]::placeholder,
#dslc-module-74055eaf658 input[type=email]::placeholder,
#dslc-module-74055eaf658 input[type=tel]::placeholder,
#dslc-module-74055eaf658 textarea::placeholder,
#dslc-module-74055eaf658 select::placeholder {
    color: #fff
}

#dslc-module-74055eaf658 .dslc-text-module-content blockquote,
#dslc-module-74055eaf658 .dslc-text-module-content blockquote p {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px
}

#dslc-module-74055eaf658 blockquote,
#dslc-module-74055eaf658 .dslc-text-module-content blockquote p {
    text-align: left
}

#dslc-module-74055eaf658 blockquote {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-74055eaf658 input[type=submit],
#dslc-module-74055eaf658 button {
    background-color: #5890e5;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px
}

#dslc-module-74055eaf658 input[type=submit]:hover,
#dslc-module-74055eaf658 button:hover {
    background-color: #5890e5;
    color: #fff;
    border-color: #5890e5
}

#dslc-module-0a8fdc467de .dslc-info-box {
    text-align: left;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    margin-bottom: 8px;
    padding-left: 60px;
    padding-right: 60px
}

#dslc-module-0a8fdc467de .dslc-info-box-main-wrap {
    max-width: 100%
}

#dslc-module-0a8fdc467de .dslc-info-box-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-0a8fdc467de .dslc-info-box-image-inner .dslc-icon,
#dslc-module-0a8fdc467de .dslc-info-box-image-inner svg {
    color: #727272;
    fill: #727272;
    font-size: 30px;
    width: 30px;
    height: 20px
}

#dslc-module-0a8fdc467de .dslc-info-box-image-inner {
    width: 29px;
    height: 29px;
    background-color: transparent
}

#dslc-module-0a8fdc467de .dslc-info-box-image {
    text-align: left
}

#dslc-module-0a8fdc467de .dslc-info-box-image,
#dslc-module-0a8fdc467de .dslc-info-box-icon-pos-aside .dslc-info-box-image {
    margin-right: 10px
}

#dslc-module-0a8fdc467de .dslc-info-box-image-alt {
    text-align: center
}

#dslc-module-0a8fdc467de .dslc-info-box-image-alt-inner img {
    margin-bottom: 25px
}

#dslc-module-0a8fdc467de .dslc-info-box-title {
    text-align: inherit
}

#dslc-module-0a8fdc467de .dslc-info-box-title h4 {
    font-size: 20px;
    text-transform: none;
    line-height: 30px
}

#dslc-module-0a8fdc467de .dslc-info-box-content {
    text-align: inherit;
    margin-bottom: 28px
}

#dslc-module-0a8fdc467de .dslc-info-box-content,
#dslc-module-0a8fdc467de .dslc-info-box-content p {
    font-size: 14px;
    line-height: 22px
}

#dslc-module-0a8fdc467de .dslc-info-box-content li {
    font-size: 13px;
    font-weight: 400;  
    line-height: 22px;
    margin-bottom: 10px
}

#dslc-module-0a8fdc467de .dslc-info-box-content ul,
#dslc-module-0a8fdc467de .dslc-info-box-content ol {
    margin-bottom: 25px;
    margin-left: 25px
}

#dslc-module-0a8fdc467de .dslc-info-box-content ul {
    list-style-type: disc
}

#dslc-module-0a8fdc467de .dslc-info-box-content ol {
    list-style-type: decimal
}

#dslc-module-0a8fdc467de .dslc-info-box-button a {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    text-transform: none;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #e2dfdf
}

#dslc-module-0a8fdc467de .dslc-info-box-button a:hover {
    background-color: #4b7bc2;
    color: #fff;
    border-color: #4b7bc2
}

#dslc-module-0a8fdc467de .dslc-info-box-button a:before {
    opacity: 1
}

#dslc-module-0a8fdc467de .dslc-info-box-button {
    margin-top: 20px;
    margin-right: 12px
}

#dslc-module-0a8fdc467de .dslc-info-box-button a.dslc-primary svg {
    width: 11px;
    height: 11px
}

#dslc-module-0a8fdc467de .dslc-info-box-button a.dslc-primary .dslc-icon,
#dslc-module-0a8fdc467de .dslc-info-box-button a.dslc-primary svg {
    margin-right: 5px
}

#dslc-module-0a8fdc467de .dslc-info-box-button a.dslc-secondary {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    text-transform: none;
    margin-left: 5px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #e2dfdf
}

#dslc-module-0a8fdc467de .dslc-info-box-button a.dslc-secondary:hover {
    background-color: #4b7bc2;
    color: #fff;
    border-color: #4b7bc2
}

#dslc-module-0a8fdc467de .dslc-info-box-button a.dslc-secondary:before {
    opacity: 1
}

#dslc-module-0a8fdc467de .dslc-info-box-button a.dslc-secondary svg {
    width: 11px;
    height: 11px
}

#dslc-module-0a8fdc467de .dslc-info-box-button a.dslc-secondary .dslc-icon,
#dslc-module-0a8fdc467de .dslc-info-box-button a.dslc-secondary svg {
    margin-right: 5px
}



#dslc-module-5bf0a899d98 .dslc-text-module-content {
    margin-top: 80px;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: left top;
    background-size: auto
}

#dslc-module-5bf0a899d98 .dslc-text-module-content,
#dslc-module-5bf0a899d98 .dslc-text-module-content .dslca-editable-content,
#dslc-module-5bf0a899d98 .dslc-text-module-content p {
    
    
    text-align: left;
     line-height: 30px;
    color: white;
}

#dslc-module-5bf0a899d98 .dslc-text-module-content h1 { 
    text-align: left;
        margin-bottom: 15px;

}
#dslc-module-5bf0a899d98 .dslc-text-module-content h1 strong{ 
    font-size: 35px;
    color: #5890e5!important;
    font-weight: 400;
}

#dslc-module-5bf0a899d98 .dslc-text-module-content h2 strong{  
     
    text-align: left;
    
    text-align: left;
    line-height: 30px;
    font-size: 22px;
    color: white;}

#dslc-module-5bf0a899d98 .dslc-text-module-content h2 {
  text-align: left;
    margin-top: 5px;

}

#dslc-module-5bf0a899d98 .dslc-text-module-content h3 {
    
    text-align: left
}

#dslc-module-5bf0a899d98 .dslc-text-module-content h4 {
    
    text-align: left
}

#dslc-module-5bf0a899d98 .dslc-text-module-content h5 {
    
    text-align: left
}

#dslc-module-5bf0a899d98 .dslc-text-module-content h6 {
    
    text-align: left
}

#dslc-module-5bf0a899d98 .dslc-text-module-content ul {
    list-style-type: disc;
    text-align: left
}

#dslc-module-5bf0a899d98 .dslc-text-module-content ol {
    list-style-type: decimal
}
#dslc-module-5bf0a899d98 .dslc-text-module-content em strong{
    color: #5890e5!important;
    line-height: 2;
    font-weight: 400;

}

#dslc-module-5bf0a899d98 input[type=text],
#dslc-module-5bf0a899d98 input[type=password],
#dslc-module-5bf0a899d98 input[type=number],
#dslc-module-5bf0a899d98 input[type=email],
#dslc-module-5bf0a899d98 input[type=tel],
#dslc-module-5bf0a899d98 textarea,
#dslc-module-5bf0a899d98 select {
    color: #fff;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid
}

#dslc-module-5bf0a899d98 input[type=text]::placeholder,
#dslc-module-5bf0a899d98 input[type=password]::placeholder,
#dslc-module-5bf0a899d98 input[type=number]::placeholder,
#dslc-module-5bf0a899d98 input[type=email]::placeholder,
#dslc-module-5bf0a899d98 input[type=tel]::placeholder,
#dslc-module-5bf0a899d98 textarea::placeholder,
#dslc-module-5bf0a899d98 select::placeholder {
    color: #fffff
}

#dslc-module-5bf0a899d98 .dslc-text-module-content blockquote,
#dslc-module-5bf0a899d98 .dslc-text-module-content blockquote p {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px
}

#dslc-module-5bf0a899d98 blockquote,
#dslc-module-5bf0a899d98 .dslc-text-module-content blockquote p {
    text-align: left
}

#dslc-module-5bf0a899d98 blockquote {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-5bf0a899d98 input[type=submit],
#dslc-module-5bf0a899d98 button {
    background-color: #5890e5;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px
}

#dslc-module-5bf0a899d98 input[type=submit]:hover,
#dslc-module-5bf0a899d98 button:hover {
    background-color: #5890e5;
    color: #fff;
    border-color: #5890e5
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-5bf0a899d98 .dslc-text-module-content,
    #dslc-module-5bf0a899d98 .dslc-text-module-content .dslca-editable-content,
    #dslc-module-5bf0a899d98 .dslc-text-module-content p {
        font-size: 16px;
        line-height: 22px;
        text-align: left
    }

    #dslc-module-5bf0a899d98 .dslc-text-module-content p strong{
        font-size: 20px;
    }
    #dslc-module-5bf0a899d98 .dslc-text-module-content h1 {
        font-size: 28px;
         line-height: 30px;
        margin-bottom: 20px;
        text-align: left
    }
    #dslc-module-5bf0a899d98 .dslc-text-module-content h2 {
        font-size: 19px;
        line-height: 30px;
        margin-bottom: 20px;
        text-align: left
    }
    #dslc-module-5bf0a899d98 .dslc-text-module-content h3 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-5bf0a899d98 .dslc-text-module-content h4 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-5bf0a899d98 .dslc-text-module-content h5 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-5bf0a899d98 .dslc-text-module-content h6 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
  

    #dslc-module-5bf0a899d98 .dslc-text-module-content li {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 10px
    }
    #dslc-module-5bf0a899d98 .dslc-text-module-content ul,
    #dslc-module-5bf0a899d98 .dslc-text-module-content ol {
        margin-bottom: 25px;
        margin-left: 25px
    }
    #dslc-module-5bf0a899d98 .dslc-text-module-content ul {
        text-align: left
    }

    #dslc-module-5bf0a899d98 .dslc-text-module-content h2 strong, #dslc-module-5bf0a899d98 .dslc-text-module-content em strong{
        color: #5890e5!important;
        line-height: 2;
    
    }
    #dslc-module-5bf0a899d98 .dslc-text-module-content blockquote,
    #dslc-module-5bf0a899d98 .dslc-text-module-content blockquote p {
        font-size: 13px;
        line-height: 22px
    }
    #dslc-module-5bf0a899d98 blockquote {
        text-align: left
    }
}
em {
    font-style: normal!important;
}

@media only screen and (max-width:767px) {
    .dslc-module-button .dslc-button a {
        color: #fff;
        font-size: 20px;
    }
    #dslc-module-5bf0a899d98 .dslc-text-module-content h2 strong{  
        font-size: 18px;
    }
        .dslc-content strong, .dslc-content b {
        
            font-size: 15px;
        }
    
    #dslc-module-5bf0a899d98 .dslc-text-module-content,
    #dslc-module-5bf0a899d98 .dslc-text-module-content .dslca-editable-content,
    #dslc-module-5bf0a899d98 .dslc-text-module-content p {
        font-size: 15px;
        line-height: 25px;
        text-align: left
    }
    #dslc-module-5bf0a899d98 .dslc-text-module-content h1 {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 30px;
        text-align: left
    }
    #dslc-module-5bf0a899d98 .dslc-text-module-content h2 {
        font-size: 18px;
        line-height: 20px;
           margin-bottom: 8px;
        text-align: left
    }
    #dslc-module-5bf0a899d98 .dslc-text-module-content h3 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-5bf0a899d98 .dslc-text-module-content h4 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-5bf0a899d98 .dslc-text-module-content h5 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-5bf0a899d98 .dslc-text-module-content h6 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 15px;
        text-align: left
    }
    #dslc-module-5bf0a899d98 .dslc-text-module-content li {
        font-size: 13px;
        line-height: 22px
    }
    #dslc-module-5bf0a899d98 .dslc-text-module-content ul,
    #dslc-module-5bf0a899d98 .dslc-text-module-content ol {
        margin-bottom: 25px;
        margin-left: 25px
    }
    /* #dslc-module-5bf0a899d98 .dslc-text-module-content h2 strong, #dslc-module-5bf0a899d98 .dslc-text-module-content em strong{
    
        line-height: 2;
    
    } */
    #dslc-module-5bf0a899d98 .dslc-text-module-content ul {
        text-align: left
    }
    #dslc-module-5bf0a899d98 .dslc-text-module-content blockquote,
    #dslc-module-5bf0a899d98 .dslc-text-module-content blockquote p {
        font-size: 13px;
        line-height: 22px
    }
    #dslc-module-5bf0a899d98 blockquote {
        text-align: left
    }
}

.dslc-content strong, .dslc-content b {
    font-size: 18px;
    font-weight: 300;
}

#dslc-module-Icons .dslc-info-box {
    text-align: left;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-Icons .dslc-info-box-main-wrap {
    max-width: 100%
}

#dslc-module-Icons .dslc-info-box-wrapper {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-Icons .dslc-info-box-image-inner .dslc-icon,
#dslc-module-Icons .dslc-info-box-image-inner svg {
    color: #218ac9;
    fill: #218ac9;
    font-size: 28px;
    width: 28px;
    height: 28px
}

#dslc-module-Icons .dslc-info-box-image-inner {
    width: 66px;
    height: 66px;
    background-color: transparent;
    border-radius: 20px;
    border-color: #1c9bd6;
    border-width: 1px;
    border-style: solid
}
#dslc-module-Icons .dslc-info-box-image-inner:hover{
    background: #c2ced830;
}

#dslc-module-Icons .dslc-info-box-image {
    text-align: inherit;
    margin-top: -6px;
    margin-bottom: 25px
}

#dslc-module-Icons .dslc-info-box-image,
#dslc-module-Icons .dslc-info-box-icon-pos-aside .dslc-info-box-image {
    margin-right: 25px
}

#dslc-module-Icons .dslc-info-box-image-alt {
    text-align: center
}

#dslc-module-Icons .dslc-info-box-image-alt-inner img {
    margin-bottom: 25px
}

#dslc-module-Icons .dslc-info-box-title {
    text-align: inherit;
    margin-bottom: 10px;
}

#dslc-module-Icons .dslc-info-box-title h4 {
    font-size: 18px;

    line-height: 20px;
}

#dslc-module-Icons .dslc-info-box-content {
    text-align: inherit;
    margin-bottom: 28px
}

#dslc-module-Icons .dslc-info-box-content,
#dslc-module-Icons .dslc-info-box-content p {
    font-size: 18px;
    line-height: 30px;
    word-spacing: 5px;
}

#dslc-module-Icons .dslc-info-box-button a {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #e2dfdf
}
#dslc-module-Icons h4 b{
    font-size: 20px;
    font-weight: 500;
}
#dslc-module-Icons .dslc-info-box-button a:hover {
    background-color: #4b7bc2;
    color: #fff;
    border-color: #4b7bc2
}

#dslc-module-Icons .dslc-info-box-button {
    margin-top: 20px;
    margin-right: 12px
}

#dslc-module-Icons .dslc-info-box-button a.dslc-primary .dslc-icon,
#dslc-module-Icons .dslc-info-box-button a.dslc-primary svg {
    margin-right: 5px
}

#dslc-module-Icons .dslc-info-box-button a.dslc-secondary {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    margin-left: 5px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #e2dfdf
}

#dslc-module-Icons .dslc-info-box-button a.dslc-secondary:hover {
    background-color: #4b7bc2;
    color: #fff;
    border-color: #4b7bc2
}

#dslc-module-Icons .dslc-info-box-button a.dslc-secondary .dslc-icon,
#dslc-module-Icons .dslc-info-box-button a.dslc-secondary svg {
    margin-right: 5px
}


#dslc-module-e5f25a6682d .dslc-image-container {
    text-align: center
}

#dslc-module-e5f25a6682d .dslc-image,
#dslc-module-e5f25a6682d .dslc-image a,
#dslc-module-e5f25a6682d .dslc-image img {
    width: auto;
}

#dslc-module-e5f25a6682d .dslc-image-caption {
    text-align: center;
    font-size: 14px;

    line-height: 22px;
    margin-top: 20px
}


#dslc-module-n9u17hfiqto .dslc-image-container {
    text-align: center
}

#dslc-module-n9u17hfiqto .dslc-image,
#dslc-module-n9u17hfiqto .dslc-image a,
#dslc-module-n9u17hfiqto .dslc-image img {
    width: auto
}

#dslc-module-n9u17hfiqto .dslc-image-caption {
    text-align: center;
    font-size: 14px;

    line-height: 22px;
    margin-top: 20px
}

#dslc-module-7ua0khkat78 .dslc-image-container {
    text-align: center
}

#dslc-module-7ua0khkat78 .dslc-image,
#dslc-module-7ua0khkat78 .dslc-image a,
#dslc-module-7ua0khkat78 .dslc-image img {
    width: auto
}

#dslc-module-7ua0khkat78 .dslc-image-caption {
    text-align: center;
    font-size: 14px;

    line-height: 22px;
    margin-top: 20px
}

#dslc-module-oh3sm14bv38 .dslc-image-container {
    text-align: center
}

#dslc-module-oh3sm14bv38 .dslc-image,
#dslc-module-oh3sm14bv38 .dslc-image a,
#dslc-module-oh3sm14bv38 .dslc-image img {
    width: auto
}

#dslc-module-oh3sm14bv38 .dslc-image-caption {
    text-align: center;
    font-size: 14px;

    line-height: 22px;
    margin-top: 20px
}

#dslc-module-6a5gqf2futg .dslc-image-container {
    text-align: center
}

#dslc-module-6a5gqf2futg .dslc-image,
#dslc-module-6a5gqf2futg .dslc-image a,
#dslc-module-6a5gqf2futg .dslc-image img {
    width: auto
}

#dslc-module-6a5gqf2futg .dslc-image-caption {
    text-align: center;
    font-size: 14px;

    line-height: 22px;
    margin-top: 20px
}


#dslc-module-md3lbcsjlco .dslc-image-container {
    text-align: center
}

#dslc-module-md3lbcsjlco .dslc-image,
#dslc-module-md3lbcsjlco .dslc-image a,
#dslc-module-md3lbcsjlco .dslc-image img {
    width: auto
}

#dslc-module-md3lbcsjlco .dslc-image-caption {
    text-align: center;
    font-size: 14px;

    line-height: 22px;
    margin-top: 20px
}



@media only screen and (min-width:768px) and (max-width:1024px) {
    #dslc-module-371ab08b3b3 .dslc-separator {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-color: #ededed;
        border-width: 1px
    }
    
    #dslc-module-Icons .dslc-info-box-main-wrap {
        max-width: 100%
    }
    #dslc-module-Icons .dslc-info-box-image {
        margin-top: 3px
    }
    #dslc-module-Icons .dslc-info-box-image,
    #dslc-module-Icons .dslc-info-box-icon-pos-aside .dslc-info-box-image {
        margin-right: 18px
    }
    #dslc-module-Icons .dslc-info-box-image-inner {
        width: 47px;
        height: 47px
    }
    #dslc-module-Icons .dslc-info-box-image-inner .dslc-icon,
    #dslc-module-Icons .dslc-info-box-image-inner svg {
        font-size: 19px;
        height: 19px;
        width: 19px
    }
    #dslc-module-Icons .dslc-info-box-title h4 {
        font-size: 19px;
        line-height: 24px
    }
    #dslc-module-Icons .dslc-info-box-title {
        margin-bottom: 15px
    }
    #dslc-module-Icons .dslc-info-box-button a.dslc-primary .dslc-icon,
    #dslc-module-Icons .dslc-info-box-button a.dslc-secondary .dslc-icon,
    #dslc-module-Icons .dslc-info-box-button a.dslc-primary svg,
    #dslc-module-Icons .dslc-info-box-button a.dslc-secondary svg {
        margin-right: 10px
    }
}

@media only screen and (max-width:767px) {

    #dslc-module-e5f25a6682d .dslc-image,
#dslc-module-e5f25a6682d .dslc-image a,
#dslc-module-e5f25a6682d .dslc-image img {
    width: 70%;
}
    #dslc-module-Icons .dslc-info-box {
        margin-bottom: 0px;
        text-align: center;
    }
    #dslc-module-Icons .dslc-info-box-content {
        text-align: inherit;
        margin-bottom: 25px;
    }
    #dslc-module-Icons .dslc-info-box-main-wrap {
        max-width: 100%;
        border-bottom: 1px solid #f1efef;
    }
    #dslc-module-Icons .dslc-info-box-image {
        margin-top: -2px
    }
    #dslc-module-Icons .dslc-info-box-image,
    #dslc-module-Icons .dslc-info-box-icon-pos-aside .dslc-info-box-image {
        margin-right: 0px;
        margin-top: 25px;
        float: none;
        display: none;
        text-align: center;
    }
    #dslc-module-Icons h4 b {
        font-size: 20px;
    font-weight: 500;
        color: #1a8aca;
    }
    #dslc-module-Icons .dslc-info-box-image-inner {
        width: 60px;
        height: 60px
    }
    #dslc-module-Icons .dslc-info-box-image-inner .dslc-icon,
    #dslc-module-Icons .dslc-info-box-image-inner svg {
        font-size: 24px;
        height: 24px;
        width: 24px
    }
    #dslc-module-Icons .dslc-info-box-title h4 {
        font-size: 23px;
        line-height: 27px;
        margin-top: 11px;
    }
   
    #dslc-module-Icons .dslc-info-box-content,
    #dslc-module-Icons .dslc-info-box-content p {
        font-size: 18px;
        line-height: 30px;
    }
    #dslc-module-Icons .dslc-info-box-button a.dslc-primary .dslc-icon,
    #dslc-module-Icons .dslc-info-box-button a.dslc-secondary .dslc-icon,
    #dslc-module-Icons .dslc-info-box-button a.dslc-primary svg,
    #dslc-module-Icons .dslc-info-box-button a.dslc-secondary svg {
        margin-right: 10px
    }
}

#dslc-content .dslc-info-box-icon-pos-aside .dslc-info-box-main {
    overflow: hidden;
}