body,
body .dslc-module-front {
    font-family: 'Roboto', Helvetica, Arial,sans-serif;
  
}

#dslc-module-d9298a99edb .lcmenupro-navigation {
    justify-content: flex-end
}

#dslc-module-d9298a99edb .lcmenupro-inner {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    background-size: auto;
    margin-top: 14px
}

#dslc-module-d9298a99edb .menu>li {
    margin-left: 6px;
    margin-right: 6px;
    font-size: 18px;
    font-weight: 300;
    text-transform: none;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px
}

#dslc-module-d9298a99edb .lcmenupro-inner li a {
    color: rgba(0, 0, 0, .9);
    text-decoration: none;
    font-weight: 500;
}

#dslc-module-d9298a99edb .lcmenupro-inner li a:hover,
#dslc-module-d9298a99edb .lcmenupro-inner li:hover a {
    color: #1f9be8
}

#dslc-module-d9298a99edb li.current-menu-item a,
#dslc-module-d9298a99edb li.current-menu-ancestor a {
    color: #1f9be8
}

#dslc-module-d9298a99edb .dslc-navigation-arrow {
    display: none;
    color: #555;
    font-size: 10px;
    margin-left: 10px
}

#dslc-module-d9298a99edb .menu-item[class^=dslc-icon-]:before,
#dslc-module-d9298a99edb .menu-item[class*=' dslc-icon-']:before {
    color: #909497;
    margin-right: 12px
}

#dslc-module-d9298a99edb .menu-item[class^=dslc-icon-]:hover:before,
#dslc-module-d9298a99edb .menu-item[class*=' dslc-icon-']:hover:before {
    color: #fff
}

#dslc-module-d9298a99edb .menu>li>ul.sub-menu,
#dslc-module-d9298a99edb .menu>li:not(.menu-type-columns) ul.sub-menu {
    background-color: #f7f7f7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

#dslc-module-d9298a99edb .menu>li>ul.sub-menu {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-d9298a99edb .menu>li:not(.menu-type-columns) .sub-menu li>a {
    color: #909497
}

#dslc-module-d9298a99edb .menu>li:not(.menu-type-columns) .sub-menu li:hover>a {
    color: #fff
}

#dslc-module-d9298a99edb .menu>li:not(.menu-type-columns) .sub-menu li.current-menu-item>a {
    color: #fff
}

#dslc-module-d9298a99edb .menu>li:not(.menu-type-columns) li:not(.lcmenu-additional-info):hover {
    background-color: #56aee3
}

#dslc-module-d9298a99edb .menu>li:not(.menu-type-columns) li:not(.lcmenu-additional-info).current-menu-item {
    background-color: #56aee3
}

#dslc-module-d9298a99edb .menu>li:not(.menu-type-columns) li {
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-color: #ededed;
    border-width: 1px
}

#dslc-module-d9298a99edb .menu>li:not(.menu-type-columns) li a {
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    text-transform: none
}

#dslc-module-d9298a99edb .menu>li:not(.menu-type-columns) li:hover {
    border-color: #ededed
}

#dslc-module-d9298a99edb .menu>li:not(.menu-type-columns) li.current-menu-item {
    border-color: #ededed
}

#dslc-module-d9298a99edb .menu>li.menu-type-columns>.sub-menu {
    padding-top: 28px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px
}

#dslc-module-d9298a99edb .menu>li.menu-type-columns>.sub-menu>.menu-item-has-children {
    margin-right: 16px
}

#dslc-module-d9298a99edb .menu>li.menu-type-columns .sub-menu .sub-menu li:not(.menu-item-has-children)>a,
#dslc-module-d9298a99edb .menu>li.menu-type-columns ul.sub-menu li.menu-item-has-children ul.sub-menu li.menu-item-has-children>a {
    color: #6c7173
}

#dslc-module-d9298a99edb .menu>li.menu-type-columns .sub-menu .sub-menu li:not(.menu-item-has-children):hover>a,
#dslc-module-d9298a99edb .menu>li.menu-type-columns ul.sub-menu li.menu-item-has-children ul.sub-menu li.menu-item-has-children:hover>a {
    color: #1f9be8
}

#dslc-module-d9298a99edb .menu>li.menu-type-columns .sub-menu .sub-menu li:not(.menu-item-has-children).current-menu-item>a,
#dslc-module-d9298a99edb .menu>li.menu-type-columns ul.sub-menu li.menu-item-has-children ul.sub-menu li.menu-item-has-children.current-menu-item>a {
    color: #1f9be8
}

#dslc-module-d9298a99edb .menu>li.menu-type-columns .sub-menu .sub-menu li[class^=dslc-icon-]:not(.menu-item-has-children):before,
#dslc-module-d9298a99edb .menu>li.menu-type-columns .sub-menu .sub-menu li[class*=' dslc-icon-']:not(.menu-item-has-children):before,
#dslc-module-d9298a99edb .menu>li.menu-type-columns ul.sub-menu li.menu-item-has-children ul.sub-menu li[class^=dslc-icon-].menu-item-has-children:before,
#dslc-module-d9298a99edb .menu>li.menu-type-columns ul.sub-menu li.menu-item-has-children ul.sub-menu li[class*=' dslc-icon-'].menu-item-has-children:before {
    color: #a8a8a8
}

#dslc-module-d9298a99edb .menu>li.menu-type-columns .sub-menu .sub-menu li[class^=dslc-icon-]:not(.menu-item-has-children):hover:before,
#dslc-module-d9298a99edb .menu>li.menu-type-columns .sub-menu .sub-menu li[class*=' dslc-icon-']:not(.menu-item-has-children):hover:before,
#dslc-module-d9298a99edb .menu>li.menu-type-columns ul.sub-menu li.menu-item-has-children ul.sub-menu li[class^=dslc-icon-].menu-item-has-children:hover:before,
#dslc-module-d9298a99edb .menu>li.menu-type-columns ul.sub-menu li.menu-item-has-children ul.sub-menu li[class*=' dslc-icon-'].menu-item-has-children:hover:before {
    color: #1f9be8
}

#dslc-module-d9298a99edb .menu>li.menu-type-columns .sub-menu .sub-menu li.current-menu-item[class^=dslc-icon-]:not(.menu-item-has-children):before,
#dslc-module-d9298a99edb .menu>li.menu-type-columns .sub-menu .sub-menu li[class*=' dslc-icon-']:not(.menu-item-has-children):before,
#dslc-module-d9298a99edb .menu>li.menu-type-columns ul.sub-menu li.menu-item-has-children ul.sub-menu li.current-menu-item[class^=dslc-icon-].menu-item-has-children:before,
#dslc-module-d9298a99edb .menu>li.menu-type-columns ul.sub-menu li.menu-item-has-children ul.sub-menu li.current-menu-item[class*=' dslc-icon-'].menu-item-has-children:before {
    color: #1f9be8
}

#dslc-module-d9298a99edb .menu>li.menu-type-columns li:not(.menu-item-has-children),
#dslc-module-d9298a99edb .menu>li.menu-type-columns ul.sub-menu li.menu-item-has-children ul.sub-menu li.menu-item-has-children {
    padding-bottom: 6px;
    padding-left: 10px
}

#dslc-module-d9298a99edb .menu>li.menu-type-columns li a,
#dslc-module-d9298a99edb .menu>li.menu-type-columns ul.sub-menu li.menu-item-has-children ul.sub-menu li.menu-item-has-children>a {
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
    font-family: "Roboto"
}

#dslc-module-d9298a99edb .menu>li.menu-type-columns .sub-menu .menu-item-has-children>a {
    color: #424246;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
    margin-left: 10px
}

#dslc-module-d9298a99edb .menu>li.menu-type-columns .sub-menu .menu-item-has-children>a:hover {
    color: #424246
}

#dslc-module-d9298a99edb .menu-item-has-children .menu-item-description {
    color: #8e9194;
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    text-transform: none;
    letter-spacing: .1px;
    margin-top: 3px
}

#dslc-module-d9298a99edb .menu .sub-menu .lcmenu-additional-info>a {
    color: #000;
    font-size: 26px;
    line-height: 32px;
    font-weight: 300;
    padding-right: 40px
}

#dslc-module-d9298a99edb .lcmenu-additional-info .menu-item-description {
    color: #909497;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    
    margin-top: 16px
}

#dslc-module-d9298a99edb .lcmenupro-site-overlay {
    background-color: rgba(0, 0, 0, .63)
}

#dslc-module-d9298a99edb .lcmenupro-mobile-navigation .lcmenupro-mobile-inner {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px
}

#dslc-module-d9298a99edb .lcmenupro-mobile-navigation .lcmenu-mobile-logo img {
    width: 150px
}

#dslc-module-d9298a99edb .lcmenupro-mobile-navigation .lcmenu-mobile-logo {
    margin-top: 20px;
    margin-bottom: 45px
}

#dslc-module-d9298a99edb .lcmenupro-mobile-navigation .lcmenu-mobile-close-hook .lcmenupro-icon {
    height: 42px;
    width: 42px;
    padding: 8px;
    color: #000
}

#dslc-module-d9298a99edb .lcmenupro-mobile-navigation .lcmenupro-mobile-inner .lcmenu-mobile-close-hook {
    background-color: rgba(255, 255, 255, .06)
}

#dslc-module-d9298a99edb .lcmenupro-mobile-navigation .menu-item[class^=dslc-icon-]:before,
#dslc-module-d9298a99edb .lcmenupro-mobile-navigation .menu-item[class*=' dslc-icon-']:before {
    color: #000;
    margin-right: 10px
}

#dslc-module-d9298a99edb .lcmenupro-mobile-navigation .menu-item[class^=dslc-icon-]:hover:before,
#dslc-module-d9298a99edb .lcmenupro-mobile-navigation .menu-item[class*=' dslc-icon-']:hover:before {
    color: #fff
}

#dslc-module-d9298a99edb .lcmenupro-mobile-navigation .lcmenupro-mobile-menu a {
    color: #000;
    font-size: 18px
}

#dslc-module-d9298a99edb .lcmenupro-mobile-navigation .lcmenupro-mobile-menu a:active {
    color: #e0e0e0
}

#dslc-module-d9298a99edb .lcmenupro-mobile-menu>.menu-item {
    margin-bottom: 6px
}

#dslc-module-d9298a99edb .lcmenupro-mobile-navigation .lcmenupro-mobile-menu ul.sub-menu li a {
    font-size: 15px
}

#dslc-module-d9298a99edb .lcmenupro-mobile-menu .sub-menu {
    padding-left: 6px
}

#dslc-module-d9298a99edb .lcmenu-mobile-hook {
    width: 24px;
    height: 24px;
    color: rgba(27, 80, 131, .63);
    margin-top: 3px;
    margin-left: 14px
}

#dslc-module-f6fd23ed62f .dslc-button {
    text-align: left;
    margin-top: 5px;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-f6fd23ed62f .dslc-button a {
    background-color: #1a8aca;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    display: inline-block;
    color: #fff;
    font-style: normal;
    font-weight: 400
}

#dslc-module-f6fd23ed62f .dslc-button a:hover {
    background-color: #22b3ea;
    color: #fff;
    border-color: #4b7bc2
}
/* FOOTER */

#dslc-footer {
    position: relative
}

.dslca-enabled:not(.dslca-composer-hidden) #dslc-footer {
    margin-bottom: 74px
}

#dslc-footer.dslc-footer-pos-absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999
}

#dslc-footer.dslc-footer-pos-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999
}
.dslc-modules-section-wrapper, .dslca-add-modules-section {
    width: 1200px;
}
.dslc-modules-section:not(.dslc-full) {
    padding-left: 4%;
    padding-right: 4%;
}
.dslc-modules-section-wrapper {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

#dslc-content ul.dslc-staff-social {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
    line-height: 1
}

#dslc-content ul.dslc-staff-social li {
    margin: 0;
    padding: 0;
    line-height: 1;
    display: inline-block;
    overflow: hidden
}

#dslc-content ul.dslc-staff-social a {
    border: 0 solid transparent;
    text-decoration: none;
    position: relative;
    float: left;
    display: inline-flex;
    justify-content: center;
    align-items: center
}

#dslc-content ul.dslc-staff-social .dslc-icon {
    line-height: 1
}

#dslc-content ul.dslc-staff-social .dslc-social-label {
    float: left;
    display: block
}

#dslc-module-990 ul.dslc-social {
    text-align: left
}

#dslc-module-990 ul.dslc-social a.dslc-social-icon {
    border-radius: 4px;
    width: 45px;
    height: 45px;
    font-size: 25px
}

#dslc-module-990 ul.dslc-social a.dslc-social-icon {
    background-color: transparent
}

#dslc-module-990 ul.dslc-social a.dslc-social-icon:hover {
    background-color: #4b7bc2
}

#dslc-module-990 ul.dslc-social li {
    margin-right: 20px;
    display: inline;
}

#dslc-module-990 ul.dslc-social .dslc-icon {
    color: #9ba0a2
}

#dslc-module-990 ul.dslc-social a.dslc-social-icon:hover .dslc-icon {
    color: #fff
}

#dslc-module-990 .dslc-social-label {
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    margin-left: 7px;
    text-transform: none
}
#dslc-content {
    position: relative;
}
@media only screen and (max-width:767px) {
    #dslc-module-990 ul.dslc-social {
        text-align: center;
        margin-bottom: 0
    }
    #dslc-module-990 ul.dslc-social a.dslc-social-icon {
        width: 50px;
        height: 50px;
        font-size: 35px
    }
    #dslc-module-990 ul.dslc-social li {
        margin-right: 20px
    }
}
.dslc-social-icon .social-icon i{
    width: 18px;
    text-align: center;
    color: white;
    margin: 10px;
}

