body,
body .dslc-module-front {
    font-family: 'Roboto', Helvetica, Arial,sans-serif!important
  
}

#dslc-module-d9298a99edb .lcmenupro-navigation {
    justify-content: flex-end
}

#dslc-module-d9298a99edb .lcmenupro-inner {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left;
    background-size: auto;
    margin-top: 14px
}

#dslc-module-d9298a99edb .menu>li {
    margin-left: 6px;
    margin-right: 6px;
    font-size: 18px;
    font-weight: 300;
    text-transform: none;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px
}

#dslc-module-d9298a99edb .lcmenupro-inner li a {
    color: rgba(0, 0, 0, .9);
    text-decoration: none;
    font-weight: 500;
}

#dslc-module-d9298a99edb .lcmenupro-inner li a:hover,
#dslc-module-d9298a99edb .lcmenupro-inner li:hover a {
    color: #1f9be8
}

#dslc-module-d9298a99edb li.current-menu-item a,
#dslc-module-d9298a99edb li.current-menu-ancestor a {
    color: #1f9be8
}

#dslc-module-d9298a99edb .dslc-navigation-arrow {
    display: none;
    color: #555;
    font-size: 10px;
    margin-left: 10px
}

#dslc-module-d9298a99edb .menu-item[class^=dslc-icon-]:before,
#dslc-module-d9298a99edb .menu-item[class*=' dslc-icon-']:before {
    color: #909497;
    margin-right: 12px
}

#dslc-module-d9298a99edb .menu-item[class^=dslc-icon-]:hover:before,
#dslc-module-d9298a99edb .menu-item[class*=' dslc-icon-']:hover:before {
    color: #fff
}

#dslc-module-d9298a99edb .menu>li>ul.sub-menu,
#dslc-module-d9298a99edb .menu>li:not(.menu-type-columns) ul.sub-menu {
    background-color: #f7f7f7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

#dslc-module-d9298a99edb .menu>li>ul.sub-menu {
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-d9298a99edb .menu>li:not(.menu-type-columns) .sub-menu li>a {
    color: #909497
}

#dslc-module-d9298a99edb .menu>li:not(.menu-type-columns) .sub-menu li:hover>a {
    color: #fff
}

#dslc-module-d9298a99edb .menu>li:not(.menu-type-columns) .sub-menu li.current-menu-item>a {
    color: #fff
}
#dslc-module-d9298a99edb .menu>li:not(.menu-type-columns) .sub-menu li>a>i {
width: 15px;
margin-right: 25px;
margin-left: 10px;
}

#dslc-module-d9298a99edb .menu>li:not(.menu-type-columns) li:not(.lcmenu-additional-info):hover {
    background-color: #56aee3
}

#dslc-module-d9298a99edb .menu>li:not(.menu-type-columns) li:not(.lcmenu-additional-info).current-menu-item {
    background-color: #1b8cce
}

#dslc-module-d9298a99edb .menu>li:not(.menu-type-columns) li {
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-color: #ededed;
    border-width: 1px
}

#dslc-module-d9298a99edb .menu>li:not(.menu-type-columns) li a {
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    text-transform: none
}

#dslc-module-d9298a99edb .menu>li:not(.menu-type-columns) li:hover {
    border-color: #ededed
}

#dslc-module-d9298a99edb .menu>li:not(.menu-type-columns) li.current-menu-item {
    border-color: #ededed
}

#dslc-module-d9298a99edb .menu>li.menu-type-columns>.sub-menu {
    padding-top: 28px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px
}

#dslc-module-d9298a99edb .menu>li.menu-type-columns>.sub-menu>.menu-item-has-children {
    margin-right: 16px
}

#dslc-module-d9298a99edb .menu>li.menu-type-columns .sub-menu .sub-menu li:not(.menu-item-has-children)>a,
#dslc-module-d9298a99edb .menu>li.menu-type-columns ul.sub-menu li.menu-item-has-children ul.sub-menu li.menu-item-has-children>a {
    color: #6c7173
}

#dslc-module-d9298a99edb .menu>li.menu-type-columns .sub-menu .sub-menu li:not(.menu-item-has-children):hover>a,
#dslc-module-d9298a99edb .menu>li.menu-type-columns ul.sub-menu li.menu-item-has-children ul.sub-menu li.menu-item-has-children:hover>a {
    color: #1f9be8
}

#dslc-module-d9298a99edb .menu>li.menu-type-columns .sub-menu .sub-menu li:not(.menu-item-has-children).current-menu-item>a,
#dslc-module-d9298a99edb .menu>li.menu-type-columns ul.sub-menu li.menu-item-has-children ul.sub-menu li.menu-item-has-children.current-menu-item>a {
    color: #1f9be8
}

#dslc-module-d9298a99edb .menu>li.menu-type-columns .sub-menu .sub-menu li[class^=dslc-icon-]:not(.menu-item-has-children):before,
#dslc-module-d9298a99edb .menu>li.menu-type-columns .sub-menu .sub-menu li[class*=' dslc-icon-']:not(.menu-item-has-children):before,
#dslc-module-d9298a99edb .menu>li.menu-type-columns ul.sub-menu li.menu-item-has-children ul.sub-menu li[class^=dslc-icon-].menu-item-has-children:before,
#dslc-module-d9298a99edb .menu>li.menu-type-columns ul.sub-menu li.menu-item-has-children ul.sub-menu li[class*=' dslc-icon-'].menu-item-has-children:before {
    color: #a8a8a8
}

#dslc-module-d9298a99edb .menu>li.menu-type-columns .sub-menu .sub-menu li[class^=dslc-icon-]:not(.menu-item-has-children):hover:before,
#dslc-module-d9298a99edb .menu>li.menu-type-columns .sub-menu .sub-menu li[class*=' dslc-icon-']:not(.menu-item-has-children):hover:before,
#dslc-module-d9298a99edb .menu>li.menu-type-columns ul.sub-menu li.menu-item-has-children ul.sub-menu li[class^=dslc-icon-].menu-item-has-children:hover:before,
#dslc-module-d9298a99edb .menu>li.menu-type-columns ul.sub-menu li.menu-item-has-children ul.sub-menu li[class*=' dslc-icon-'].menu-item-has-children:hover:before {
    color: #1f9be8
}

#dslc-module-d9298a99edb .menu>li.menu-type-columns .sub-menu .sub-menu li.current-menu-item[class^=dslc-icon-]:not(.menu-item-has-children):before,
#dslc-module-d9298a99edb .menu>li.menu-type-columns .sub-menu .sub-menu li[class*=' dslc-icon-']:not(.menu-item-has-children):before,
#dslc-module-d9298a99edb .menu>li.menu-type-columns ul.sub-menu li.menu-item-has-children ul.sub-menu li.current-menu-item[class^=dslc-icon-].menu-item-has-children:before,
#dslc-module-d9298a99edb .menu>li.menu-type-columns ul.sub-menu li.menu-item-has-children ul.sub-menu li.current-menu-item[class*=' dslc-icon-'].menu-item-has-children:before {
    color: #1f9be8
}

#dslc-module-d9298a99edb .menu>li.menu-type-columns li:not(.menu-item-has-children),
#dslc-module-d9298a99edb .menu>li.menu-type-columns ul.sub-menu li.menu-item-has-children ul.sub-menu li.menu-item-has-children {
    padding-bottom: 6px;
    padding-left: 10px
}

#dslc-module-d9298a99edb .menu>li.menu-type-columns li a,
#dslc-module-d9298a99edb .menu>li.menu-type-columns ul.sub-menu li.menu-item-has-children ul.sub-menu li.menu-item-has-children>a {
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
    font-family: "Roboto"
}

#dslc-module-d9298a99edb .menu>li.menu-type-columns .sub-menu .menu-item-has-children>a {
    color: #424246;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
    margin-left: 10px
}

#dslc-module-d9298a99edb .menu>li.menu-type-columns .sub-menu .menu-item-has-children>a:hover {
    color: #424246
}

#dslc-module-d9298a99edb .menu-item-has-children .menu-item-description {
    color: #8e9194;
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    text-transform: none;
    letter-spacing: .1px;
    margin-top: 3px
}

#dslc-module-d9298a99edb .menu .sub-menu .lcmenu-additional-info>a {
    color: #000;
    font-size: 26px;
    line-height: 32px;
    font-weight: 300;
    padding-right: 40px
}

#dslc-module-d9298a99edb .lcmenu-additional-info .menu-item-description {
    color: #909497;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    
    margin-top: 16px
}

#dslc-module-d9298a99edb .lcmenupro-site-overlay {
    background-color: rgba(0, 0, 0, .63)
}

#dslc-module-d9298a99edb .lcmenupro-mobile-navigation .lcmenupro-mobile-inner {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px
}

#dslc-module-d9298a99edb .lcmenupro-mobile-navigation .lcmenu-mobile-logo img {
    width: 150px
}

#dslc-module-d9298a99edb .lcmenupro-mobile-navigation .lcmenu-mobile-logo {
    margin-top: 20px;
    margin-bottom: 45px
}

#dslc-module-d9298a99edb .lcmenupro-mobile-navigation .lcmenu-mobile-close-hook .lcmenupro-icon {
    height: 42px;
    width: 42px;
    padding: 8px;
    color: #000
}

#dslc-module-d9298a99edb .lcmenupro-mobile-navigation .lcmenupro-mobile-inner .lcmenu-mobile-close-hook {
    background-color: rgba(255, 255, 255, .06)
}

#dslc-module-d9298a99edb .lcmenupro-mobile-navigation .menu-item[class^=dslc-icon-]:before,
#dslc-module-d9298a99edb .lcmenupro-mobile-navigation .menu-item[class*=' dslc-icon-']:before {
    color: #000;
    margin-right: 10px
}

#dslc-module-d9298a99edb .lcmenupro-mobile-navigation .menu-item[class^=dslc-icon-]:hover:before,
#dslc-module-d9298a99edb .lcmenupro-mobile-navigation .menu-item[class*=' dslc-icon-']:hover:before {
    color: #fff
}

#dslc-module-d9298a99edb .lcmenupro-mobile-navigation .lcmenupro-mobile-menu a {
    color: #000;
    font-size: 18px
}

#dslc-module-d9298a99edb .lcmenupro-mobile-navigation .lcmenupro-mobile-menu a:active {
    color: #e0e0e0
}

#dslc-module-d9298a99edb .lcmenupro-mobile-menu>.menu-item {
    margin-bottom: 6px
}

#dslc-module-d9298a99edb .lcmenupro-mobile-navigation .lcmenupro-mobile-menu ul.sub-menu li a {
    font-size: 15px
}

#dslc-module-d9298a99edb .lcmenupro-mobile-menu .sub-menu {
    padding-left: 6px
}

#dslc-module-d9298a99edb .lcmenu-mobile-hook {
    width: 24px;
    height: 24px;
    color: rgba(27, 80, 131, .63);
    margin-top: 3px;
    margin-left: 14px
}

#dslc-module-f6fd23ed62f .dslc-button {
    text-align: left;
    margin-top: 5px;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

#dslc-module-f6fd23ed62f .dslc-button a {
    background-color: #1a8aca;
    border-radius: 20px;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    display: inline-block;
    color: #fff;
    font-style: inherit;
    font-weight: 400
}


#dslc-module-f6fd23ed62f .dslc-button a:hover {
    background-image: linear-gradient( to right,rgb(26, 140, 206) ,rgb(44, 181, 238) 100%)!important;
    color: #fff;
}


/* FOOTER */

#dslc-footer {
    position: relative
}

.dslca-enabled:not(.dslca-composer-hidden) #dslc-footer {
    margin-bottom: 74px
}

#dslc-footer.dslc-footer-pos-absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999
}

#dslc-footer.dslc-footer-pos-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999
}
.dslc-modules-section-wrapper, .dslca-add-modules-section {
    width: 1200px;
}
.dslc-modules-section:not(.dslc-full) {
    padding-left: 4%;
    padding-right: 4%;
}
.dslc-modules-section-wrapper {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

#dslc-content ul.dslc-staff-social {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
    line-height: 1
}

#dslc-content ul.dslc-staff-social li {
    margin: 0;
    padding: 0;
    line-height: 1;
    display: inline-block;
    overflow: hidden
}

#dslc-content ul.dslc-staff-social a {
    border: 0 solid transparent;
    text-decoration: none;
    position: relative;
    float: left;
    display: inline-flex;
    justify-content: center;
    align-items: center
}

#dslc-content ul.dslc-staff-social .dslc-icon {
    line-height: 1
}

#dslc-content ul.dslc-staff-social .dslc-social-label {
    float: left;
    display: block
}

#dslc-module-990 ul.dslc-social {
    text-align: left
}

#dslc-module-990 ul.dslc-social a.dslc-social-icon {
    border: 0 solid transparent;
    background: #40bde600;
    text-decoration: none;
    color: #fff;
    padding: 10px 10px;
    width: 45px;
    height: 45px;
    border-radius: 15px;
    font-size: 25px;
    position: relative;
    float: left;
    display: inline-flex;
    justify-content: center;
    align-items: center;


}


#dslc-module-990 ul.dslc-social a.dslc-social-icon:hover {
    background-color: #4b7bc2;
    padding: 5px 5px;
    border-radius: 4px;
}

#dslc-module-990 ul.dslc-social li {
    display: inline;
}

#dslc-module-990 ul.dslc-social .dslc-icon {
    color: #9ba0a2
}

#dslc-module-990 ul.dslc-social a.dslc-social-icon:hover .dslc-icon {
    color: #fff
}

#dslc-module-990 .dslc-social-label {
    font-size: 13px;
    font-weight: 400;
    font-style: inherit;
    line-height: 30px;
    margin-left: 7px;
    text-transform: none
}

    #dslc-content {
        position: relative;
    }
    #dslc-module-990 ul.dslc-social {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
    line-height: 1
    }

    #dslc-content ul.dslc-social li {
        margin: 0;
        padding: 0;
        line-height: 1;
        display: inline-block;
        margin-right: 10px;
        overflow: hidden;
    }

    #dslc-content ul.dslc-social a.dslc-social-icon {
        border: 0 solid transparent;
        background: #40bde600;
        text-decoration: none;
        color: #fff;
        padding: 10px 10px;
        width: 45px;
        height: 45px;
        border-radius: 15px;
        font-size: 25px;
        position: relative;
        float: left;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }


@media only screen and (max-width:767px) {
    #dslc-module-990 ul.dslc-social {
        text-align: center;
        margin-bottom: 0
    }
    #dslc-module-990 ul.dslc-social a.dslc-social-icon {
        width: 50px;
        height: 50px;
        font-size: 35px
    }
    #dslc-module-990 ul.dslc-social li {
        margin-right: 20px
    }
    
.carousel .carousel-indicators {
    bottom: -27px;
}
.carousel .img-box {
    width: 150px!important;
    height: 150px!important;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
}
@media (min-width:320px) and (max-width:550px) {
.carousel .img-box {
    width: 150px!important;
    height: 150px!important;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
}

.dslc-module-front a:hover {
    text-decoration: none;
}

.carousel {
	margin: 0 auto;

}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 340px;
}
.carousel .item a {
	color: #eb7245;
}
.carousel .img-box {
    width: 150px!important;
    height: 150px!important;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel .img-box img {
    width: 100%;
	height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
}
.carousel .testimonial {	
	padding: 30px 0 10px;
}
.carousel .overview {	
	text-align: center;
	padding-bottom: 5px;
}
.carousel .overview b {
	color: #333;
	font-size: 15px;
	text-transform: uppercase;
	display: block;	
	padding-bottom: 5px;
}

.carousel .carousel-control {
	width: 30px;
	height: 30px;
	border-radius: 50%;
    background: #999;
    text-shadow: none;
	top: 4px;
}
.carousel-control i {
	font-size: 20px;
	margin-right: 2px;
}
.carousel-control.left {
	left: auto;
	right: 40px;
}
.carousel-control.right i {
	margin-right: -2px;
}
.carousel .carousel-indicators {
	bottom: 0px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 11px;
	height: 11px;
	margin: 1px 5px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background-color: rgba(0, 0, 0, 0.199)!important;
	border-color: transparent;
}
.carousel-indicators li.active {
	border: none;
	background: #888;		
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .contact-form {
   
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 20%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
.center{
    text-align: center;
}
  /* Modal CSS */
  .modal-footer {
    padding: 1px!important;
}
  .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #ffffff!important;
}
.modal-header .close {
    margin-top: -40px!important;
    background: white;
}
body .modal.theme-lumberman {
    background: #fff0 !important;
    border: none !important;
    padding: 30px 40px 20px !important;
}
#modal-overlay {
    background: rgba(0, 0, 0, .8) !important
}

body .modal.theme-lumberman .title {
    padding: 0 20px 40px;
    color: #000 !important
}

body .modal.theme-lumberman .close-modal {
    color: #000 !important
}
.form-group {
    margin-bottom: 10px!important;
}

.dslc-module-button .dslc-button {
    text-align: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top left
}

.dslc-module-button .dslc-button a {
    background-color: #1a8aca;
    border-radius: 4px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    display: inline-block;
    color: #fff;
    font-size: 23px;
    font-style: inherit;
    font-weight: 300;
    border-color: transparent;
    border-width: 1px;
    border-style: solid
}

.dslc-module-button .dslc-button a:hover {
    background-image: linear-gradient(to right,#174d6d ,#0ba1f8 100%)!important;
    color: #fff;
    border-color: transparent
}

.dslc-module-button .dslc-button a .dslc-icon,
.dslc-module-button .dslc-button a svg {
    margin-right: 10px
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .dslc-module-button .dslc-button a {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 18px;
        padding-right: 18px;
        font-size: 23px
    }
    .dslc-module-button .dslc-button {
        text-align: left
    }
}

@media only screen and (max-width:767px) {
    .dslc-module-button .dslc-button a {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 24px;
        padding-right: 24px;
        font-size: 18px
    }
    .dslc-module-button .dslc-button a .dslc-icon,
    .dslc-module-button .dslc-button a svg {
        margin-right: 5px
    }
    .dslc-module-button .dslc-button {
        text-align: center
    }
}

.btn-primary{
    background-color: #5aade1!important;
    border: rgba(245, 222, 179, 0)!important;
    color: #fff;
    border-radius: 4px!important;
    font-size: 15px!important;
    font-weight: 300;
    /* line-height: 5px; */
    /* padding-top: 6px; */
    /* padding-bottom: 6px; */
    padding-left: 20px!important;
    padding-right: 20px!important;
}
.btn-primary:hover{ 
    background-color: #1a8aca!important;
}



/************************************************************
*************************Footer******************************
*************************************************************/


.footer1 {
    background: #091e30 url(assets/img/contact-map.jpg) repeat scroll left top;
    padding-top: 40px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;/*	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #003;*/
}



.title-widget {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	line-height: 1;
	position: relative;
	text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 25px;
	margin-left: 0;
	padding-left: 15px;
}

.title-widget::before {
    background-color: #fff;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}

.footer1 li a{
    color: white;
}

.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}


.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
	position: relative;
    text-transform: uppercase;
	border-bottom: 1px solid rgba(255, 255, 255, 0.22);
    margin-bottom: 7px;
    padding-bottom: 7px;
	width:95%;
}



.title-median {
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
	
}

.dslc-social-icon .social-icon i {
    width: 30px;
    font-size: 25px;
    text-align: center;
    color: white;
    margin: 3px;
    text-decoration: none;
}  
.dslc-social-icon .social-icon ul a:hover{
    color: rgba(255, 255, 255, 0);
}       
.dslc-social-icon .social-icon .fa-twitter:hover{
    color: #00acee;
}
.dslc-social-icon .social-icon .fa-facebook:hover{
    color:  #3b5998;
}
.dslc-social-icon .social-icon .fa-youtube:hover{
    color:  #c4302b;
}
.dslc-social-icon .social-icon .fa-pinterest:hover{
    color: #c8232c;
}
.dslc-social-icon .social-icon .fa-linkedin:hover{
    color: #0e76a8;
}
.dslc-social-icon .social-icon .fa-instagram:hover{
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}



.footer-bottom {
    background-color: #0a0a0a;;
    min-height: 30px;
    width: 100%;
    border-bottom: 2px solid #fff;
}
.copyright ,.footerp{
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    font-size: 14px;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}


/************************************************************
*************************Footer******************************
*************************************************************/
